
/* customize bootstrap */
.mt-6 {
   margin-top: 4rem;
}
#post-text {
    height:  100px;
}


/* global */
.required{
    color: red;
}
.post {
    cursor: pointer;
}

/* create post  */
#posTtext {
    width: 100%;
    height: 100px;
}


/* nav aredy login */

.imgProfile{
    height: 30px;
    width:  30px;
    border-radius: 100%;
    margin-right: 10px;
    border: 1px solid rgba(54,57,60,.5);
    cursor: pointer;
}


.logo {
    width: 40px;
    height: 40px;
}
.btnlogins {
    margin-left: 10px;
  
  }




  /* postview */

  .comment {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  #inputComment{
      transform: translateY(10px);
      display: none;
      transition: ease 400ms;
  }
  #commentValue:focus{
    box-shadow: none !important;
  }